# Data Ingestion & Persistence Pipeline

**Objective:**  
Ingest raw retail transaction data and persist it in a structured SQLite database to support downstream customer analytics and CLV modeling.

## 1. Environment & Path Configuration

Define project-level paths to ensure reproducibility across environments.

In [5]:
import pandas as pd
import sqlite3
from pathlib import Path

BASE_DIR = Path(r"C:\Users\harri\OneDrive\Desktop\Work\Projects\clv_retention_optimization")

CSV_PATH = BASE_DIR / "data" / "online_retail_II.csv"
DB_PATH = BASE_DIR / "data" / "retail.db"

DB_PATH.parent.mkdir(parents=True, exist_ok=True)

## 2. Load Raw Transaction Data

Load the raw CSV file into memory and perform a basic structural validation.

In [6]:
df = pd.read_csv(CSV_PATH)
print(f"Data loaded: {df.shape[0]} rows, {df.shape[1]} columns")
df.head()

Data loaded: 1067371 rows, 8 columns

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

## 3. Persist Data to SQLite

Store the raw transaction data in a SQLite database to enable aggregation and scalable analysis.

In [7]:
conn = sqlite3.connect(DB_PATH)

df.to_sql("transactions", conn, if_exists="replace", index=False)

query = "SELECT COUNT(*) AS total_rows FROM transactions;"
print(pd.read_sql(query, conn))

conn.close()

   total_rows
0     1067371